/*Inclusion des bordures et du padding dans la hauteur et la largeur des éléments*/
*, *:before, *:after{
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}
/*Suppression des marges par défaut autour du contenu de la page*/
body{
margin:0px;
background-image:url('./images/bg.png');
font-family:'Amatic SC', 'cursive';
}
/*Alignement par le dessus par défaut pour les div en mode inline et inline-block*/
div{
vertical-align:top;
}
/* Annulation du style de lien par défaut (à modifier si nécéssaire)*/
a:visited{
text-decoration:none;
border:none;
}
a{
color:white;
text-decoration:none;
border:none;
}
a:focus{
outline:0;
}
/*-------------------------------------------------------------------------------------------*/
#gameOverlay{
position:fixed;
width:100%;
height:100%;
z-index:10;
padding-top:5px;
text-align:center;
background-color:rgba(0,0,0,0.8);
display:none;
color:white;
text-decoration:underline;
font-size:25px;
text-shadow:3px 3px 3px #552200;
}
#exit{
position:relative;
margin:0 auto;
cursor:pointer;
background-color:#826c59;
height:40px;
line-height:40px;
width:130px;
-webkit-box-shadow:5px 5px 10px -5px #000000;
-moz-box-shadow:5px 5px 10px -5px #000000;
box-shadow:5px 5px 10px -5px #000000;
}
#altContent{
<<<<<<< HEAD
	position: relative;
	margin: 0 auto;
	box-shadow: 5px 5px 10px -5px #000000;
	margin-bottom: 5px;
	background-color: black;
=======
position:relative;
margin:0 auto;
-webkit-box-shadow:5px 5px 10px -5px #000000;
-moz-box-shadow:5px 5px 10px -5px #000000;
box-shadow:5px 5px 10px -5px #000000;
margin-bottom:5px;
>>>>>>> 2668fe68ee95d5826923c3b76556a262c10cf219
}
#content{
position:relative;
/*min-height: */
/*min-height:100%;
height:1000px;
*/
	width:900px;
margin:0 auto;
padding-top:20px;
background-color:#dbc89e;
-webkit-box-shadow:0px 0px 25px 0px #000000;
-moz-box-shadow:0px 0px 25px 0px #000000;
box-shadow:0px 0px 25px 0px #000000;
}
#header{
position:relative;
height:120px;
width:100%;
padding-left:40px;
margin-bottom:0px;
background-image:url('./images/headerBg.png');
line-height:120px;
font-size:30px;
color:white;
-webkit-box-shadow:0px -25px 25px -25px #000000 inset, 0px 25px 25px -25px #000000 inset;
-moz-box-shadow:0px -25px 25px -25px #000000 inset, 0px 25px 25px -25px #000000 inset;
box-shadow:0px -25px 25px -25px #000000 inset, 0px 25px 25px -25px #000000 inset;
}
#tuto{
position:relative;
height:465px;
width:100%;
margin-bottom:40px;
}
#header span{
font-size:80px;
text-shadow:5px 5px 3px #222222;
}
#Aide{
position:absolute;
left:150px;
width:200px;
font-size:70px;
line-height:75px;
color:#54361b;
font-weight:bold;
}
#Aide div{
width:3em;
}
#bluprint{
position:absolute;
left:370px;
background-color:#00AAEE;
width:500px;
height:250px;
border:white double 6px;
outline:#0088CC solid 4px;
-webkit-box-shadow:0px 0px 45px 5px #003399 inset;
-moz-box-shadow:0px 0px 45px 5px #003399 inset;
box-shadow:0px 0px 45px 5px #003399 inset;
padding:10px;
text-align:center;
color:white;
}
#bluprint div{
font-size:20px;
font-weight:bold;
text-align:left;
padding-bottom:10px;
}
#dessins{
position:absolute;
top:75px;
left:410px;
}
#symbolSlideshow{
position:absolute;
top:280px;
left:420px;
width:400px;
height:120px;
-webkit-box-shadow:-45px 0px 45px -60px #111111 inset , 45px 0px 45px -60px #111111 inset;
-moz-box-shadow:-45px 0px 45px -60px #111111 inset , 45px 0px 45px -60px #111111 inset;
box-shadow:-45px 0px 45px -60px #111111 inset , 45px 0px 45px -60px #111111 inset;
border-left:#54361b solid 5px;
border-right:#54361b solid 5px;
overflow:hidden;
}
#slider{
position:relative;
width:2400px;
}
.slideShowItem{
position:relative;
display:inline-block;
height:120px;
width:400px;
padding:10px;
font-size:25px;
text-align:center;
}
.slideShowItem img{
display:inline-block;
}
.slideShowItem div{
display:inline-block;
width:300px;
margin-left:20px;
}
#tutoIllu{
position:absolute;
left:-85px;
width:552px;
height:465px;
background-image:url('./images/tutoBrief.png');
}
#playBtn{
position:relative;
width:150px;
height:80px;
margin:10px auto;
background-color:#54361b;
line-height:80px;
font-size:50px;
text-align:center;
color:white;
text-shadow:5px 5px 3px #222222;
-webkit-box-shadow:5px 5px 10px -5px #000000;
-moz-box-shadow:5px 5px 10px -5px #000000;
box-shadow:5px 5px 10px -5px #000000;
cursor:pointer;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
transition:0.5s ease;
}
#rateBtn{
position:relative;
width:80px;
height:40px;
margin:10px auto;
background-color:#54361b;
line-height:40px;
font-size:25px;
text-align:center;
color:white;
text-shadow:5px 5px 3px #222222;
-webkit-box-shadow:5px 5px 10px -5px #000000;
-moz-box-shadow:5px 5px 10px -5px #000000;
box-shadow:5px 5px 10px -5px #000000;
cursor:pointer;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
transition:0.5s ease;
}
#playBtn:hover,#rateBtn:hover{
background-color:#9E8169;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
transition:0.5s ease;
}
.info{
font-family:Arial, "sans-serif";
text-align:center;
padding:20px 0px;
}
.credits{
font-size:12px;
}
