/*Inclusion des bordures et du padding dans la hauteur et la largeur des éléments*/
*, *:before, *:after{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

/*Suppression des marges par défaut autour du contenu de la page*/
body{
	margin: 0px;
	background-image: url('./images/bg.png');
	font-family: 'Amatic SC', 'cursive';
}

/*Alignement par le dessus par défaut pour les div en mode inline et inline-block*/
div{
	vertical-align: top;
}

/* Annulation du style de lien par défaut (à modifier si nécéssaire)*/
a:visited{
	text-decoration: none;
	border: none;
}
a{
	text-decoration: none;
	border: none;
}
a:focus{
	outline:0;
}

/*-------------------------------------------------------------------------------------------*/
#gameOverlay{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	padding-top: 50px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	visibility: hidden;
}
#altContent{
	position: relative;
	margin: 0 auto;
}
#content{
	position: relative;
	min-height: 100%;
	height: 900px;
	width: 900px;
	margin: 0 auto;
	padding-top: 20px;
	background-color: #dbc89e;
	box-shadow: 0px 0px 25px 0px #000000;
}
#header{
	position: relative;
	height: 120px;
	width: 100%;
	padding-left: 40px;
	background-image: url('./images/headerBg.png');
	line-height: 120px;
	font-size: 30px;
	color: white;
	box-shadow: 0px 0px 25px -5px #000000 inset;
}
#header span{
	font-size: 80px;
	text-shadow: 5px 5px 3px #222222;
}

#Aide{

}
#tutoIllu{
	position: relative;
	left: -85px;
	width: 552px;
	height: 465px;
	background-image: url('./images/tutoBrief.png');
}
#playBtn{
	position: relative;
	width: 150px;
	height: 80px;
	margin: 0 auto;
	background-color: #54361b;
	line-height: 80px;
	font-size: 50px;
	text-align: center;
	color: white;
	text-shadow: 5px 5px 3px #222222;
	box-shadow: 5px 5px 10px -5px #000000;
	cursor: pointer;
}

